[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "npmv"]
	path = npmv
	url = https://github.com/cran/npmv
	shallow = true
	registered = true
